body {
	background: url('/img/bc.jpg') top / cover no-repeat;
	color: #fff;
	font-family: 'Lato', sans-serif;
}
.wrapper {
	padding: 30px 120px 70px 120px;
	font-family: 'Lato', sans-serif;
}
.container {
	max-width: 1620px;
}
.header--content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.name {
		text-decoration: none;
		color: #fff;
		font-size: 50px;
		font-weight: 900;
		transition: all 0.3s ease;
		&:hover {
			text-shadow: 0px 0px 5px;
		}
	}
	.header--nav {
		align-items: center;
		margin-top: 10px;
		font-weight: 600;
		font-size: 20px;
		display: flex;
		gap: 50px;
		margin-left: 250px;
		li {
			cursor: pointer;
			transition: all 0.3s ease;
			position: relative;
			&:hover {
				text-shadow: 0 0 5px;
				&::before {
					width: 100%;
				}
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 0;
				height: 1.5px;
				background-color: #fff;
				transition: width 0.35s;
				box-shadow: 0 0 5px;
			}
		}
	}
	.header--buttons {
		margin-top: 10px;
		display: flex;
		align-items: center;
		gap: 20px;
		height: 30px;
		width: 198px;
		.signup--button {
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			background-color: inherit;
			border: none;
			cursor: pointer;
			transition: all 0.2s ease;
			&:hover {
				text-shadow: 0 0 5px;
			}
		}
		.signin--button {
			font-size: 20px;
			font-weight: 700;
			border-radius: 12px;
			padding: 7px;
			background-color: #2d3565da;
			padding: 10px;
			color: #fff;
			border: none;
			cursor: pointer;
			transition: all 0.3s ease;
			&:hover {
				text-shadow: 0 0 5px;
				font-size: 21px;
			}
		}
	}
	margin-bottom: 50px;
}
.signin--page {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.signin--menu {
	box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.299);
	padding: 80px;
	display: grid;
	height: 180px;
	width: 300px;
	background: rgba(7, 15, 43, 0.7);
	border-radius: 30px;

	.signin--name {
		width: 300px;
		margin-bottom: 20px;
	}
	.signin--email {
		width: 300px;
		margin-bottom: 20px;
		.user--email {
			font-weight: 900;
			font-size: 17px;
			margin-bottom: 10px;
		}
		.email--input {
			background: rgba(75, 80, 111, 0.5);
			border: none;
			box-sizing: border-box;
			width: 100%;
			border-radius: 5px;
			height: 30px;
			transition: all 0.3s ease;
			outline: none;
			color: #fff;
			font-weight: 600;
			padding-left: 10px;
			&:focus {
				box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.566);
			}
		}
	}
	.signin--pass {
		width: 300px;
		margin-bottom: 40px;
		.user--pass {
			font-weight: 900;
			font-size: 17px;
			margin-bottom: 10px;
		}
		.pass-input {
			background: rgba(75, 80, 111, 0.5);
			border: none;
			box-sizing: border-box;
			width: 100%;
			border-radius: 5px;
			height: 30px;
			transition: all 0.3s ease;
			outline: none;
			color: #fff;
			font-weight: 600;
			padding-left: 10px;
			&:focus {
				box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.566);
			}
		}
	}
	.signin--page--signin-button {
		text-align: center;
		.signin {
			font-size: 15px;
			font-weight: 700;
			height: 50px;
			width: 130px;
			border-radius: 10px;
			background-color: rgba(66, 72, 113, 0.75);
			border: 2px solid #ffffffa4;
			cursor: pointer;
			color: #fff;
			box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.612);
			transition: all 0.3s ease;
			&:hover {
				transform: scale(1.04);
				box-shadow: 0px 0px 20px 5px rgb(255, 255, 255);
			}
		}
	}
	transition: all 0.5s ease;
	&:hover {
		background: rgba(7, 15, 43, 0.8);
		border-radius: 45px;
		box-shadow: 0px 0px 30px 20px rgba(255, 255, 255, 0.324);
	}
}
