body {
	background-color: #070f2b;
	color: #fff;
}
.wrapper {
	font-family: 'Lato', sans-serif;
	padding: 70px 120px 70px 120px;
}
.container {
	max-width: 1620px;
}
.header--content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.name {
		text-decoration: none;
		color: #fff;
		font-size: 50px;
		font-weight: 900;
		transition: all 0.3s ease;
		&:hover {
			text-shadow: 0px 0px 5px;
		}
	}
	.header--nav {
		align-items: center;
		margin-top: 10px;
		font-weight: 400;
		font-size: 25px;
		display: flex;
		gap: 50px;
		margin-left: 150px;
		li {
			cursor: pointer;
			transition: all 0.3s ease;
			position: relative;
			&:hover {
				text-shadow: 0 0 5px;
				&::before {
					width: 100%;
				}
			}
			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 0;
				height: 1.5px;
				background-color: #fff;
				transition: width 0.35s;
				box-shadow: 0 0 5px;
			}
		}
	}
	.header--buttons {
		margin-top: 10px;
		display: flex;
		align-items: center;
		gap: 20px;
		.signup--button {
			font-size: 25px;
			font-weight: 500;
			color: #fff;
			background-color: inherit;
			border: none;
			cursor: pointer;
		}
		.signin--button {
			font-size: 25px;
			font-weight: 500;
			border-radius: 12px;
			padding: 7px;
			background-color: #535c91;
			color: #fff;
			border: none;
			cursor: pointer;
		}
	}
}
.main--content {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	height: 70vh;
	.paralax-text {
		font-weight: 900;
		position: absolute;
		will-change: transform;
	}
	.Write {
		padding-right: 100px;
		font-size: 80px;
		margin-right: 100px;
	}
	.Learn {
		font-size: 80px;
		margin-left: 150px;
	}
	.Share {
		font-size: 80px;
		margin-left: 400px;
	}
}
.paralax--img {
	left: 120px;
	bottom: -100px;
	// margin-left: 100px;
	// bottom: -100px;
	position: absolute;
	width: 400px;
	height: 400px;
	z-index: -1;
	background: url('/img/Ice-Cube-Water-PNG.png') top / cover no-repeat;
	will-change: transform;
}
.footer {
	text-align: center;
}
